.StudyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6dvh;
  width: 100%;
  margin: 1dvh;
  padding: 2dvh;
  color: #fff;
  border: 2px solid #282b33;
  border-radius: 1dvh;
}

.verticalInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1dvh;
}

.fw700 {
  font-weight: 700;
}
.fw400 {
  font-weight: 400;
}

.longInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12dvw;
}

.middleInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8dvw;
}

.shortInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2dvh;
  width: 6dvw;
}
