.accountContainer {
  width: 89dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10dvh;
}

.avatarContainer {
  border-radius: 100dvh;
}
.form {
  width: 25dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin: auto;
}
