@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

body {
  background-color: #363944;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: Pretendard;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
